.card-link {
    text-decoration: none;

    .card-pokemon {
        &:hover {
            box-shadow: 0 0 6px 1px rgba(170, 170, 170, 0.5);
        }
    }
    
    .img {
        display: block;
        margin: 0 auto;
        width: 250px;
        height: 250px;
    }

    .card-title {
        text-transform: capitalize;
        font-size: 36px;
        text-align: center;
    }
}

.grass {
    background-color: rgb(229, 255, 229);
}

.fire {
    background-color: rgb(255, 241, 236);
}

.water {
    background-color: rgb(228, 243, 255);
}

.electric {
    background-color: rgb(255, 252, 216);
}

.ground {
    background-color: rgb(255, 242, 215);
}

.psychic {
    background-color: rgb(236, 226, 253);
}

.normal {
    background-color: rgb(241, 241, 241);
}
