.main-container {
    background: #b0b0b0;
    background-image: url("../../Images/thumb-1920-486262.png");
    background-size: cover;
    min-height: 100vh;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    place-content: center;
    grid-gap: 2em;
    padding: 2em;
}

.text-container {
    color: rgb(9, 204, 218);
    border-radius: 1000px;
    padding: 1em;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: .5s;
    border: 10px solid #fff;
  animation-name: load;
  animation-iteration-count:infinite;
}

@keyframes load {
    25%   {border-top: 10px solid rgb(4, 100, 107); border-left: 10px solid #fff; border-right: 10px solid #fff; border-bottom: 10px solid #fff;}
    50%  {border-right: 10px solid rgb(4, 100, 107); border-top: 10px solid #fff; border-left: 10px solid #fff; border-bottom: 10px solid #fff;}
    75%  {border-bottom: 10px solid rgb(4, 100, 107); border-right: 10px solid #fff; border-left: 10px solid #fff; border-top: 10px solid #fff;}
    100% {border-left: 10px solid rgb(4, 100, 107); border-bottom: 10px solid #fff; border-top: 10px solid #fff; border-right: 10px solid #fff;}
  }



